@import '../src/assets/styles/mixins.less';
@import '../src/assets/styles/varibles.less';

.wrap{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;//使内部元素居中
}

.left{
  display: flex;
}

.logo{
  width: 157px;
  color: @border-color-base;
  font-size: @font-size-lgx;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: center;
}

.mainMenu{
  height:64px;
  line-height:64px;
}

.right{
  display: flex;
  align-items: center;
}

.member{
  display: flex;
  align-items: center;
  color: @white-color;
}

.content{
  background-color: @body-color;
}
.footer{
  text-align: center;
}